html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
}
.container, .container-fluid {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}
/* ========== BUTTON ========== */
.btn-primary {
  background-color: #005FCA;
  border: none;
}
.btn-primary:hover {
  background-color: #004bb5;
}
/* ========== BREADCRUMB ========== */
.custom-breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: var(--primary-500-color); 
  border: none;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter' ;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom-breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
  color: var(--primary-300-color); 
}


/* ========== SIDEBAR ========== */
.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 280px;
  height: calc(100vh - 80px); 
  background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  overflow-y: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-collapsed .sidebar {
  transform: translateX(-100%);
}
.sidebar-collapsed #mainContent {
  width: 100% !important;
}
.sidebar .nav-link {
  color: var(--text-dark-1);
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 12px;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: rgba(0, 95, 202, 0.1);
  color: #005FCA;
  border-radius: 12px;
}
.sidebar .nav-link i {
  color: #005FCA;
}
.sidebar .nav-link.active i {
  color: #005FCA;
}
.sidebar-header {
  border-bottom: 1px solid #f1f1f1;
}
.navbar{
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}
.nav-link[aria-expanded="true"] .chevron-icon::before {
  content: "\f077"; 
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.nav-link[aria-expanded="false"] .chevron-icon::before {
  content: "\f078"; 
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.nav-link[aria-expanded="true"] .chevron-icon::before,
.nav-link[aria-expanded="false"] .chevron-icon::before {
  color: var(--text-dark-1); 
}
.nav-link:hover .chevron-icon::before {
  color: var(--primary-500-color); 
}

/* ========== MAIN ========== */
#mainContent {
  margin-top: 80px; 
  margin-left: 250px; 
  height: calc(100vh - 68px);
  overflow-y: auto;
  padding: 2.5rem 0;
  background: #f8f9fa;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* ========== DASHBOARD ========== */
.hero-card {
  position: relative;
  background: linear-gradient(135deg, rgba(0,95,202,0.8) 0%, #005FCA 100%);
  color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}
.hero-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 24px 24px;
  opacity: 0.3;  
  pointer-events: none;
}
.hero-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(to left, #005FCA 0%, transparent 100%);
  pointer-events: none;
}
.hero-card h2 {
  font-size: 1.5rem;
  margin: 0;
}
.hero-card p {
  color: #f0f0f0;
  margin: 0;
  font-size: 0.95rem;
}
.hero-card .icon-wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-card {
    background: #fff;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

    text-align: center;
    transition: transform 0.2s ease;
}
.summary-value {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}
.summary-label {
    font-size: 14px;
    color: #666;
}
.pesanan-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--primary-color);
}
.produk-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--primary-color);  
}
.pelanggan-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--primary-color);  
}
.bg-pesanan {
  background-color: var(--primary-100-color) 
}
.bg-produk {
  background-color: var(--primary-100-color); 
}
.bg-pelanggan {
  background-color: var(--primary-100-color); 
}

/* ========== PRODUK ========== */
.container-produk {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
.heading {
  padding: 20px 0px;
  font-weight: 700;
  color: var(--secondary-color) 
}

/* ========== TABLE ========== */
.table-row-hover:hover {
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}
.bg-table{
  background-color: var(--bg-light-color);
  color: var(--text-light);
}
.table-custom-font {
  color: #343F52; 
    
}
.table-custom-font thead th {
  color: var(--text-dark-2); 
  font-weight: bold;
}
.table-custom-font tbody td {
  color: var(--text-dark-1);
  font-weight: 400;
}

/* ========== CARD ========== */
.card-head {
  padding: 0.75rem 1rem;
  background-color: white;
  color: var(--text-dark-2);
  font-weight: 700;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid #dee2e6;
}
.pesanan-head {
  color: var(--text-dark-2);
  font-weight: 700;
}
.card {
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 10px;
}

/* ========== FORM INPUT ========== */
.form{
  padding: 0.5rem;
}
.form-label {
  font-weight: 500; 
  color: var(--text-dark-2);
  padding-bottom: 0.5rem;
}
.form-control:focus {
  border-color: var(--primary-300-color);
  box-shadow: none;
}
.form-select:focus {
  border-color: var(--primary-300-color);
  box-shadow: none;
}
.form-control{
  color: var(--text-dark-1);
}
.table-label{
  font-weight: 500; 
  color: var(--text-dark-2);
}
.nav-brand{
  color: var(--text-dark-2);
  transition: color 0.3s ease;
  font-weight: 600;
}
.form-group input {
  margin-bottom: 0.25rem;
}

/* ========== IMAGE ========== */
#imagePreview img {
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* ========== STATUS ========== */
.form-status{
  border-radius: 8px;
  border-color: #ddd;
  color: var(--text-dark-1);
  background-color: white;
  padding: 0.25rem 0; 
  gap: 8px;
}
.form-status:focus{
  border: 1px solid var(--primary-300-color);
  color: var(--text-dark-1);
  outline: none;
}
.custom-status-select {
  padding-left: 1rem;  
  padding-right: 1rem; 
}
.bg-process {
  background-color: #E0F2FF;
  color: #0288D1;
  padding: 0.35rem 0.5rem;
}
.bg-selesai{
  background-color: #d5f5e3;
  color: var(--success-color);
  padding: 0.35rem 0.5rem;
}
.bg-menunggu{
  background-color: var(--secondary-100-color);
  color: var(--secondary-color);
  padding: 0.35rem 0.5rem;
}
.bg-batal{
  background-color: #f8d7da;
  color: var(--danger-color);
  padding: 0.35rem 0.5rem;
}
.img-hover-wrapper {
  position: relative;
}

.lihat-gambar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px; 
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.img-hover-wrapper:hover .lihat-gambar-overlay {
  opacity: 1; 
}


/* ===============================
   RESPONSIVE ADMIN > 1440px 
   =============================== */

@media (min-width: 1200px) and (max-width: 2048px) {
  .container, 
  .container-fluid, 
  .navbar, 
  .container-produk {
    width: 100%; 
    padding-left: 100px;
    padding-right: 100px;
  }
  #mainContent {
    margin-left: 280px; 
  }
}

/* ===============================
   RESPONSIVE ADMIN >= 1920px 
   =============================== */
@media (min-width: 1920px) {
  .container, 
  .container-fluid, 
  .navbar, 
  .container-produk {
    max-width: 1920px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
  }

  #mainContent {
    margin-top: 80px; 
    margin-left: 150px; 
    height: calc(100vh - 68px);
    overflow-y: auto;
    padding: 2.5rem 0px 2.5rem 80px; 
    background: #fff;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    max-width: 1920px;
    box-sizing: border-box;
  }
}




